body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#root nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgb(34,193,195);
background: linear-gradient(149deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#root nav .logo{
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
}

#root nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

#root nav li{
    list-style: none;
    margin: 1rem;
}