
img{
    width: 100%;
    height: 100%;
}

.cardDisplay{
    border: 1px black solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.cardDisplay .cardImage{
    width: 50vw;
    height: 30vh;
}

.cardDisplay .cardDescription{
    color: rgb(141, 141, 148);
    margin: .5rem;
    text-align: center;
}

.cardDisplay .cardPrice{
    font-size: 2rem;
    margin: 1rem;
    font-weight: 600;
}

.cardDisplay .cardQte{
    font-size: 1.2rem;
    margin-left: 1rem;
    font-weight: 600;
}